.title {
  font-weight: bold;
  font-size: 48px;
  color: #f3fbff;
  background-image: url(/src/svg/bg_h1.svg);
  background-repeat: no-repeat;
  width: 440px;
  padding: 25px 20px 33px 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.product_list {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 25px 25px;
}

.card_top .image {
  width: 250px;
  height: 250px;
  background: rgb(143, 141, 141);
}

.bg :last-child {
  margin-bottom: 0;
}

.remove {
  cursor: pointer;
}

.block_links {
  margin-right: 10px;
}

.card img {
  max-width: 200px;
}

.item {
  font-weight: 300;
  font-size: 18px;
  line-height: 140.62%;
  color: #02265c;
}

.like {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.check {
  width: 30px;
  height: 30px;
  margin-right: 40px;
}

.price {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 20px;
  color: #02265c;
}

@media(max-width:1025px){

}
