.background {
  background-image: url(../svg/Contact_bg.svg);
  background-repeat: no-repeat;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
}

.contact_title {
  font-weight: bold;
  font-size: 48px;
  color: #f3fbff;
  background-image: url("../svg/bg_h1.svg");
  background-repeat: no-repeat;
  padding: 31px 208px 30px 130px;
  margin-left: auto;
  margin-right: auto;
}

.contact_wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 120px;
}

.contact_info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.info_title {
  margin: 0;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 25px;
  color: #02265c;
}

.contact_tel {
  font-weight: normal;
  font-size: 26px;
  color: #02265c;
  margin-bottom: 5px;
}

.contact_mail {
  font-weight: bold;
  font-size: 26px;
  color: #02265c;
  margin-bottom: 20px;
}

.contact_ico {
  margin-right: 18px;
}

.adress {
  display: flex;
}

.adress_name {
  font-weight: bold;
  font-size: 26px;
  max-width: 303px;
  margin-right: 145px;
  color: #02265c;
}

.adress_map {
  width: 1200px;
  height: 386px;
  margin-bottom: 30px;
}

@media (width: 768px) {
  .contact_wrapper {
    padding-left: 60px;
  }

  .info_title {
    font-size: 20px;
  }

  .contact_tel {
    font-size: 16px;
  }

  .contact_mail {
    font-size: 16px;
  }

  .adress_name {
    font-size: 18px;
    max-width: 300px;
    margin-right: 80px;
  }

  .adress_map {
    width: 640px;
    height: 386px;
  }
}
