.background{
    background-image: url("../svg/bg_contact.svg");
    background-size: cover;
    background-position: top center;
    height: 160vh;
}

.div_delivery{
    margin-top: 50px;
    margin-left: 120px;
}

.delivery_title{
    font-weight: bold;
    font-size: 48px;
    align-items: center;
    text-align: center;
    display: flex;
    color: #F3FBFF;
    background-image: url("../svg/bg_h1.svg");
    background-repeat: no-repeat;
    height: 15vh;
    margin-left: 400px;
    padding-left: 132px;
    margin-bottom: 80px;
}

.delivery_p{
    margin-top: 12px;
    margin-bottom: 39px;
}

.descr_title{
    font-weight: bold;
    font-size: 36px;
    line-height: 140.62%;
    color: #02265C;
}

.delivery_descr{
    font-weight: normal;
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #02265C;
    margin: 0;
    line-height: 140.62%;
    margin-right: 112px;
}

.delivery_price{
    display: flex;
}

.delivery_important{
    font-weight: normal;
    font-size: 36px;
    align-items: center;
    color: #02265C;
}

.delivery_bonus{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    max-width: 1150px;
}

.bonus_deliv{
    font-weight: normal;
    font-size: 24px;
    color: #02265C;
    white-space: pre-wrap;
}

.bonus_import{
    font-weight: normal;
    font-size: 36px;
    color: #02265C;
    white-space: pre-wrap;
    margin: 0;
}

@media(width:768px){
    .background{
        background-position: left center;
        height: 155vh;
    }

    .div_delivery{
        margin-top: 30px;
        margin-left: 75px;
    }
    
    .delivery_title{
        height: 23vh;
        margin-left: 70px;
        margin-bottom: 30px;
    }

    .descr_title{
        font-weight: bold;
        font-size: 22px;
    }

    .delivery_p{
        margin-top: 6px;
        margin-bottom: 0;
    }

    .delivery_descr{
        font-size: 14px;
        margin-right: 90px;
    }

    .delivery_important{
        font-size: 22px;
    }

    .delivery_bonus{
        max-width: 650px;
    }

    .bonus_deliv{
        font-size: 14px;
    }

    .bonus_import{
        font-size: 22px;
    }
}