.header_first {
  background-image: url("../svg/header_bg.svg");
  background-repeat: no-repeat;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
}

.header_links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 19px 120px 0px 95px;
}

.header_list {
  display: flex;
  flex-direction: row;
}

.header_item {
  list-style-type: none;
  margin-right: 25px;
  font-weight: 300;
  font-size: 20px;
}

.header_menu {
  display: flex;
  flex-direction: row;
  margin-top: 45px;
}

.header_link {
  color: #f3fbff;
}

.header_button {
  font-family: "Comfortaa", cursive;
  font-weight: 300;
  font-size: 18px;
  width: 200px;
  height: 44px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #1194ff;
  color: #f3fbff;
  border-radius: 63px;
  border: none;
}

.second_block {
  padding: 54px 0px 60px 117px;
}

.text_block {
  display: flex;
  flex-direction: column;
  color: #f3fbff;
}

.text_item {
  font-weight: bold;
  font-size: 48px;
  line-height: 140.62%;
  margin-bottom: 23px;
}

.description {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 140.62%;
  width: 564px;
  padding: 2px 0px 21px 81px;
}

.button {
  font-family: "Comfortaa", cursive;
  font-weight: 300;
  font-size: 18px;
  width: 200px;
  height: 44px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #3cc6fe;
  color: #f3fbff;
  border-radius: 63px;
  border: none;
  margin-left: 263px;
  margin-bottom: 90px;
}

/* @media (max-width: 730px) {
  .header_first {
    background-image: url("../svg/header_bg_768.svg");
    background-repeat: no-repeat;
    -moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
  }

  .header_links {
    padding: 19px 0px 0px 9px;
  }

  .header_item {
    margin-right: 15px;
    font-size: 15px;
  }

  .header_button {
    font-size: 14px;
    width: 120px;
    height: 25px;
    margin-top: 10px;
  }

  .second_block {
    padding: 25px 0px 0px 50px;
  }

  .text_item {
    font-size: 26px;
    margin-bottom: 10px;
  }

  .description {
    font-size: 14px;
    width: 390px;
    padding: 2px 0px 0px 30px;
  }

  .button {
    font-size: 14px;
    width: 150px;
    height: 25px;
    margin-left: 140px;
    margin-bottom: 80px;
  }
} */

@media (max-width: 1215px) {
  .header_links {
    padding: 19px 120px 0px 35px;
  }

  .text_item {
    font-size: 38px;
    margin-bottom: 15px;
  }

  .second_block {
    padding: 30px 0px 30px 55px;
  }

  .description {
    width: 564px;
    padding: 2px 0px 21px 25px;
  }

  .button {
    margin-left: 190px;
  }
}

@media (min-width: 1160px) {
  .header_item {
    font-size: 18px;
  }

  .header_button {
    font-size: 16px;
    width: 185px;
    height: 35px;
    margin-top: 10px;
  }

  .second_block {
    padding: 35px 0px 120px 120px;
  }

  .text_item {
    font-size: 38px;
    margin-bottom: 10px;
  }

  .description {
    font-size: 16px;
    width: 500px;
    padding: 0px 0px 5px 60px;
    margin: 0;
  }

  .button {
    font-size: 16px;
    width: 185px;
    height: 35px;
    margin-left: 200px;
    margin-bottom: 0px;
  }
}

/* @media (max-width: 1000px) {
  .header_links {
    padding: 10px 0px 0px 9px;
  }

  .header_item {
    font-size: 18px;
  }

  .header_button {
    font-size: 16px;
    width: 185px;
    height: 35px;
    margin-top: 10px;
  }

  .second_block {
    padding: 35px 0px 70px 60px;
  }

  .text_item {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .description {
    font-size: 16px;
    width: 500px;
    padding: 0px 0px 5px 60px;
    margin: 0;
  }

  .button {
    font-size: 16px;
    width: 185px;
    height: 35px;
    margin-left: 200px;
    margin-bottom: 0px;
  }
} */
